*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 1200px;
    background: #fff;
    margin: 50px 10rem;
    box-shadow: 0 50px 75px rgba(0,0,0,0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}

.container .top{
    position: relative;
    display: grid; 
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .image-box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .top .image-box .box{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .image-box .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .top .profile-text{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}
.container .top .profile-text h3{
    font-size: 3em;
    letter-spacing: 0.1;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}

.container .top .profile-text h3 span{
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;

}
.container .content-box{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px ;
}

.container .content-box h3{
    border-left: 4px solid #ff8bb3;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}
.container .content-box ul{
    position: relative;
    margin: 10x 0;
}
.container .content-box ul li{
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: #333;
    cursor: pointer;
    display: flex;
}

.container .content-box ul li i{
    font-size: 1.2em;
    margin-right: 10px;
    color: #3590d2;
}

.container .content-box ul.education li{
    flex-direction:  column;
    margin: 25px 0;
}

.container .content-box ul.education li h5{
    color: #3590d2;
}

.container .content-box ul.education li h4{
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}
.container .content-box ul.education li h6{
    color: #666;
    font-weight: 300;
    font-size: 1em;
}

.container .content-box ul.language li{
    flex-direction:  column;
}
.container .content-box ul.language li span{
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.container .content-box ul.language .percent{
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;


}

.container .content-box ul.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}

.container .content-box ul.interest {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.container .content-box ul.interest li{
    display:  flex;
    align-items:  center;
    gap: 10px;
    margin: 20px 0;
}

.container .content-box ul.interest li .icon{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #3590d2;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content-box ul.interest li .icon i{
    color: #fff;
    margin-right: 0;
}

.container .right-side{
    margin-left: 40px;
}

.container .right-side p{
    font-style: 300;
}
.container .right-side .about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.container .right-side .about .box .year-company{
    min-width: 150px;
    margin-bottom: 10px;
}

.container .right-side .about .box .year-company h5{
    color: #333;
    font-weight: 600;
}
.container .right-side .about .box .year-company h5:nth-child(1){
    color: #3590d2;
}

.container .right-side .about .box h4{
    color: #3590d2;
    font-size: 16px;
    margin: 0;
}

.container .about.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.container .about.skills .box h4{
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}

.container .about.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e3e3e3;
}

.container .about.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}
li{
    list-style: none;
}

.references{
    display: flex;
    justify-content: space-between;

}
